*.acn
*.acr
*.alg
*.aux
*.bbl
*.blg
*.dvi
*.fdb_latexmk
*.glg
*.glo
*.gls
*.idx
*.ilg
*.ind
*.ist
*.lof
*.log
*.lot
*.maf
*.mtc
*.mtc0
*.nav
*.nlo
*.out
*.pdfsync
*.ps
*.snm
*.synctex.gz
*.toc
*.vrb
*.xdy
*.tdo
*.swp
*.deb
*.backup
*.fls
*.pdf
*.png
example.tex
dragonfly.sty
*.cls
*.substvars
package/debian/dragonfly-latex-templates
package/debian/files
beamerthemeDragonfly.sty
*.run.xml
*-self.bib
*-blx.bib
*.bcf
*.xwm
package/debian/debhelper-build-stamp
package/dragonfly-latex-templates_*
dragonfly-latex-templates_1.16_amd64.buildinfo
package/debian/.debhelper/

