Source: dragonfly-latex-templates
Maintainer: Finlay Thompson <finlay@dragonfly.co.nz>
Section: TeX
Priority: extra
Standards-Version: 3.9.8
Vcs-git: https://github.com/dragonfly-science/dragonfly-latex-templates.git
Vcs-browser: https://github.com/dragonfly-science/dragonfly-latex-templates
Build-Depends: debhelper (>= 9), devscripts, texlive-full, biber, msttcorefonts

Package: dragonfly-latex-templates
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}, texlive-full, biber, msttcorefonts
Description: LaTeX templates for Dragonfly Science
 Provides a number of standard classes for producing
 documents fitting the format used by dragonfly data
 science. 
